[Desktop Entry]
Name=Todo List GTK
Comment=Gerencie suas tarefas com simplicidade e estilo
Exec=todolist-gtk
Icon=br.com.vitordevsp.TodoList
Type=Application
Terminal=false
Categories=Office;Utility;
Keywords=todo;task;list;
StartupNotify=true
X-Flatpak=br.com.vitordevsp.TodoList
